#map_canvas{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginControlUI {
    background-color: rgb(101, 210, 110);
    border: 2px solid rgb(101, 210, 110);
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(101, 210, 110, .3);
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

#loginControlText {
    color: rgb(25,25,25);
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

#spotify {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(25,25,25);
    border-radius: 100%;
    vertical-align: middle;
}

#iw-title {
    font-size: 40px;
}

#iw-subtitle {
    font-size: 25px;
    padding-bottom: -5px;
}

#overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

#overlay-content {
    position: relative;
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    padding: 8px;
    color: rgb(101, 210, 110);
}

/* The navigation links inside the overlay */
#overlay-content a {
    
    text-decoration: none;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    color: rgb(101, 210, 110);
}

/* When you mouse over the navigation links, change their color */
#overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
#overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: rgb(101, 210, 110);
    z-index: 1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    #overlay-content a {font-size: 20px}
    #overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


