#map_canvas{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginControlUI {
    background-color: rgb(101, 210, 110);
    border: 2px solid rgb(101, 210, 110);
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(101, 210, 110, .3);
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

#loginControlText {
    color: rgb(25,25,25);
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

#spotify {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(25,25,25);
    border-radius: 100%;
    vertical-align: middle;
}

.gm-style .gm-style-iw {
    width: auto !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    background-color: rgb(101, 210, 110);
    border: 1px solid rgb(101, 210, 110);
    border-radius: 2px 2px 10px 10px;
}